# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
BaseApp/BaseApp.Android/bin/
BaseApp/BaseApp.Android/obj/
BaseApp/BaseApp/obj/
packages/
BaseApp/BaseApp/bin/
BaseApp/BaseApp.iOS/obj/
.vs/
